#headlineNotizen{
    margin-left: 10px;
}

.file {
    list-style-type: circle;
    padding-top: 5px;
    margin: 10px;
    margin-left:20px;
    
   
}

.directory {
    list-style-type: square;
    list-style-position: inside;
    padding-top: 3px;
    margin-top: 10px;
    margin-left: 15px;
   
}


